*{
    padding: 0;
    border: none;
    font-family: Arial, sans-serif;
    margin: 0; 
    box-sizing: border-box;
    
  }
  body {
    background: linear-gradient(90deg, rgb(14, 0, 40) 0%, rgb(1, 12, 33) 100%);
    color: white;
}
